<% obj.each do |mealplan| %>
  <div class="row">
    <div class="col-md-2">
      <section class ="center">

      </section>
    </div>
    <% if mealplan.meals.favorite.count != 0 %>

      <div>
        <h4>Your Favorite Foods: </h4>
          <% mealplan.meals.favorite.map do |meal| %>
              <li><%= meal.protein.capitalize %></li>
          <% end %>
      </div>
    <% else %>
      <h4> No favorites yet! </h4>
    <% end %>

    <div class="col-md-8 well">
      <h4><%= link_to "My Meal Plan", meal_plan_path(mealplan) %></h4>
      <ul>
        <li><%= pluralize(mealplan.meals.count, "meals") if mealplan.meals %></li>
         <li><%= mealplan.goal %> (goal)</li>
         <li><%= mealplan.description %> (description)</li>
       </ul>
       </p>
         <span class="quiet"></span><small>Created by <%= mealplan.user.try(:name) %></small></span><br>
         <span class="quiet"></span><small>Created <%= time_ago_in_words(mealplan.created_at) %> ago</small></span>
       </p>
       <% if logged_in? && current_user == mealplan.user %>
        <div class="mealplan-actions">
         <%= link_to "Add Meals +", new_meal_plan_meal_schedule_path(mealplan), class:"btn btn-xs btn-xlarge" %>
         <%= link_to "View Meals +", meal_plan_meal_schedules_path(mealplan), class:"btn btn-xs btn-primary" %>
         <%= link_to "Edit Meal Plan", edit_meal_plan_path(mealplan), class:"btn btn-xs btn-warning" %>
         <%= link_to "Delete Meal Plan", meal_plan_path(mealplan), method: :delete, data: { confirm: "Are you sure you want to delete this meal plan and associated meals?"}, class:"btn btn-xs btn-danger" %>
       </div>
       <% end %>
    </div>
  </div>
<% end %>
