<%= render "shared/page_title", title: "Sign Up for an Account" %>
<%= render partial: 'layouts/errors', locals: {object: @user} %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form"})  do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name %>
        </div>
          <div class="col-md-8">
            <%= f.text_field :name, class:"form-control", autofocus: true, required:true, placeholder: "Enter Your Name"%>
          </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :email %>
        </div>
        <div class="col-md-8">
          <%= f.email_field :email, class:"form-control", required:true, placeholder: "Enter Your Email" %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :password %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password, class:"form-control", required:true, placeholder: "Enter Your Password"  %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :password_confirmation, "Confirm Password" %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password_confirmation, class:"form-control", required:true, placeholder: "Confirm Your Password"  %>
        </div>
      </div>

      <div class="col-md-8">
        <h3> Or sign up with <%= link_to "Google", "/auth/auth/google_oauth2" %></h3>
      </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit "Create Account" %>
    </div>
  </div>
<% end %>


<div class="center colormatch">
  [ <%= link_to "Already have an account? Click to Log in", login_path %>]
</div>
