<%= render "shared/page_title", title: "#{@user.name}'s Profile" %>

<div class="col-md-8 well">
  <h4>Name: <%= @user.name %></h4>
  <h4> Email: <%= @user.email %></h4>
</div>

  <br><br>
<% if @user.meal_plans.count != 0 %>
  <h4 align="center">Your Meal Plans</h4>
  <hr />
  <div align="center">
  </div>
    <%= render 'meal_plans/mealplan', obj: @user_mealplans %>
    <div align="center">
    </div>

    <br><br>

<div class="mealplan-actions">
<% if logged_in? && current_user == @user %>
  <%= link_to "Create a Meal Plan", new_meal_plan_path, class:"btn btn-xs btn-xlarge"%>
  <%= link_to "See Meal Plans", meal_plans_path, class:"btn btn-xs btn-xlarge"%>
  <%= link_to "Log Out", logout_path, method: :delete, class:"btn btn-xs btn-xlarge"%>
<% end %>
<%= link_to "Your Meal Plans", meal_plans_path(@meal_plan), class:"btn btn-xs btn-xlarge" %>
</div>

<% else %>
  <h4 align="center"> No Meal Plans yet! </h4><br><br>
  <div align="center">
    <%= link_to "Create a Meal Plan", new_meal_plan_path, class:"btn btn-xs btn-xlarge"%>
  </div>
<% end %>